.SubLojasCard {
    border-radius: 8px;
    margin-bottom: 0;
}

.SubLojasCardMobile{
    background-color:white;
    font-size: 16px;
    line-height: 16px;
}

.btnCenter.mt-2{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
} 

.SubLojasCard td{
    background-color: white;
    padding: .25rem;
}

div.SubLojasCard.draft, tr.SubLojasCard.draft td:first-child {
    border-left: 3px solid #6c757d;
}
div.SubLojasCard.inactive,tr.SubLojasCard.inactive td:first-child {
    border-left: 3px solid #00000055;
}
div.SubLojasCard.trashed, tr.SubLojasCard.trashed td:first-child{
    border-left: 3px solid #343a40;
}
div.SubLojasCard.cataloguing, tr.SubLojasCard.cataloguing td:first-child{
    border-left: 3px solid #fec107;
}
div.SubLojasCard.reproved, tr.SubLojasCard.reproved td:first-child{
    border-left: 3px solid #f36b7c;
}
