.logout{
    background-image: url('../../img/background-banner.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y:top;
    
}
.logout .logoutContainer{
    position: relative;
}
.logout .logo{
    position: absolute;
    top: -36px;
    right:0px;    
}
.logout .icon .mdi-icon{
    width: 48px;
    height: 48px;
}
.logout .header{
    font-size: 1.5rem;
    line-height: 1.5rem;

}
.logout .msg{
    font-size: 2.5rem;
    line-height: 2.5rem;
}
@media(max-width:991px){
    .logout .header{
        font-size: 1rem;
        line-height: 1rem;

    }
    .logout .msg{
        font-size: 2rem;
        line-height: 2rem;
    }
}