.configuracoes .btn-sm {
    padding: 0.25rem 2rem !important;
}

.configuracoes input.quantity {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 2 solid !important;
}